
  body {
    font-family: serif;
    background-image: src("");
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(41, 41, 41);
    text-align: center;
    
  }
  
  li {
    float: left;
  
  }
  
  li a {
    display: block;
    color: white;
    padding: 15px 14px;
    text-decoration: none;
  }
  li {
    font-size: 27px;
  }
  .title{
    color: white;
    padding: 10px 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    background-color: rgb(29, 29, 29);
    margin-left: 455px;
    margin-right: 455px;
    font-weight: bold;
  }
  .inf{
    color: rgba(82, 82, 82, 0.712);
    padding: 10px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.671);
    margin-left: 455px;
    margin-right: 455px;
    font-weight: bold;
  }
  .img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 39.3%;
  }
  #pika{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 23.3%;
  }
 .lava {
   color: white;
   text-align: center;
 }

  
